extends ../../layout/default.jade

block title
  title Hello World

block style
  link(rel="stylesheet" href="/pages/demo/index.css"  type="text/css")

block content
  #body

block script
  script(src="/js/demo2.js")
